<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <!-- <h2>Assignment 1</h2>
    <day-component></day-component>
    <hello-component></hello-component>
    <welcome-component></welcome-component>

  <h2>Assignment 2</h2>
    <app-hello-component></app-hello-component>
    <app-welcome-component></app-welcome-component>
    <app-day-component> </app-day-component>

  <h2>Assignment 3</h2> 
    <app-person></app-person>
    <app-event-binding></app-event-binding>-->
    
  <h3>Day 5 Assignment1,2</h3>
    <app-employee-list></app-employee-list>
</div>

<ul>
  <li>
    <a routerLink="home" routerLinkActive="myactive">Home</a>
  </li>
  <li>
      <a routerLink="about" routerLinkActive="myactive">About</a>
    </li>
</ul>
 

<router-outlet></router-outlet>
