<p>
  employee-list works!
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Sl no</th>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Email</th>
      </tr>
    </thead>
  <tr *ngFor="let employee of employeeList; let i = index">
    <td>{{i+1}}</td>
    <td>{{employee.empId}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.address}}</td>
    <td>
      {{employee.email}} &nbsp;&nbsp;
         &nbsp;&nbsp;
        <span>
            <!-- <button type="button" (click)="editEmp()" class="btn btn-outline-warning">Edit</button> -->
            <!-- <app-create-employee [updateEmployee] = 'employeeList'></app-create-employee> -->
            <app-update-employee [updateEmployee] = 'employeeList'></app-update-employee>
        </span>
    </td>
  </tr>
</table>
<app-create-employee [employee] = 'employeeList' (addEmployee)="newEmployee($event)"></app-create-employee>
<!-- <button type="button" class="btn btn-info" (click)="toggle()">Create Employee</button> -->


 
